<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Logging -->
    <add key="ElasticsearchLogAppender.Url" value="https://elasticsearch.mydomain.com" />
    <add key="ElasticsearchLogAppender.QueueSize" value="1000" />
    <add key="ElasticsearchLogAppender.RetryLimit" value="3" />
    <add key="ElasticsearchLogAppender.All.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Error.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Warn.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Info.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Debug.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Fatal.Enabled" value="true" />
    <add key="ElasticsearchLogAppender.Tags" value="dev,project1" />
    
    <add key="FileLogAppender.QueueSize" value="1000" />
    <add key="FileLogAppender.RetryLimit" value="3" />
    <add key="FileLogAppender.All.Enabled" value="true" />
    <add key="FileLogAppender.Error.Enabled" value="true" />
    <add key="FileLogAppender.Warn.Enabled" value="true" />
    <add key="FileLogAppender.Info.Enabled" value="true" />
    <add key="FileLogAppender.Debug.Enabled" value="true" />
    <add key="FileLogAppender.Fatal.Enabled" value="true" />
    <add key="FileLogAppender.Tags" value="dev,project1" />
    <add key="FileLogAppender.Folder" value="c:\junk\" />
    <add key="FileLogAppender.LogName" value="Sextant" />


    <add key="LogglyLogAppender.Url" value="http://my.loggly.com" />
    <add key="LogglyLogAppender.ApiKey" value="my-api-key" />
    <add key="LogglyLogAppender.QueueSize" value="1000" />
    <add key="LogglyLogAppender.RetryLimit" value="300" />
    <add key="LogglyLogAppender.All.Enabled" value="true" />
    <add key="LogglyLogAppender.Error.Enabled" value="true" />
    <add key="LogglyLogAppender.Warn.Enabled" value="true" />
    <add key="LogglyLogAppender.Info.Enabled" value="true" />
    <add key="LogglyLogAppender.Debug.Enabled" value="true" />
    <add key="LogglyLogAppender.Fatal.Enabled" value="true" />
    <add key="LogglyLogAppender.Tags" value="dev,project1" />
    
    <!-- Metrics -->
    <add key="GraphiteReporter.Enabled" value="true" />
    <add key="GraphiteReporter.Host" value="my.graphite.com" />
    <add key="GraphiteReporter.Port" value="1000" />
    <add key="GraphiteReporter.QueueSize" value="1000" />
    <add key="GraphiteReporter.RetryLimit" value="3" />
    <add key="GraphiteReporter.RootNamespace" value="encompass" />
    <add key="GraphiteReporter.TrackHostmachine" value="true" />
    
    <add key="DatadogReporter.Url" value="https://app.datadoghq.com/api/v1/series" />
    <add key="DatadogReporter.ApiKey" value="my-api-key" />
    <add key="DatadogReporter.QueueSize" value="1000" />
    <add key="DatadogReporter.RetryLimit" value="3" />
    <add key="DatadogReporter.RootNamespace" value="encompass" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0" newVersion="5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>