*.suo
*.dll
*.pdb
*.user
*.nupkg
**/obj
**/bin
# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
/packages
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

