<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogglyLogAppender.Url" value="" />
    <add key="LogglyLogAppender.QueueSize" value="1000" />
    <add key="LogglyLogAppender.RetryLimit" value="3" />
    <add key="LogglyLogAppender.All.Enabled" value="true" />
    <add key="LogglyLogAppender.Error.Enabled" value="true" />
    <add key="LogglyLogAppender.Warn.Enabled" value="true" />
    <add key="LogglyLogAppender.Info.Enabled" value="true" />
    <add key="LogglyLogAppender.Debug.Enabled" value="true" />
    <add key="LogglyLogAppender.Fatal.Enabled" value="true" />
    <add key="LogglyLogAppender.Tags" value="dev,project1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>