<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogglyLogAppender.Enabled" value="true" />
    <add key="LogglyLogAppender.ApiKey" value="ADD_API_KEY_HERE" />
    <add key="LogglyLogAppender.Url" value="http://logs-01.loggly.com" />
    <add key="LogglyLogAppender.QueueSize" value="1000" />
    <add key="LogglyLogAppender.RetryLimit" value="300" />
    <add key="LogglyLogAppender.All.Enabled" value="false" />
    <add key="LogglyLogAppender.Error.Enabled" value="true" />
    <add key="LogglyLogAppender.Warn.Enabled" value="false" />
    <add key="LogglyLogAppender.Info.Enabled" value="false" />
    <add key="LogglyLogAppender.Debug.Enabled" value="false" />
    <add key="LogglyLogAppender.Fatal.Enabled" value="true" />
    <add key="LogglyLogAppender.Tags" value="dev,project1" />

    <add key="Encompass.Environment" value="dev" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.1.0" newVersion="106.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Loggly" publicKeyToken="aea0e3c965ace843" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.55" newVersion="4.6.1.55" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Loggly.Config" publicKeyToken="aea0e3c965ace843" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.55" newVersion="4.6.1.55" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
