<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.4.0" targetFramework="net452" />
  <package id="EncompassSDK.Complete" version="17.3.0.2" targetFramework="net452" />
  <package id="Metrics.NET" version="0.5.3" targetFramework="net452" />
  <package id="Metrics.NET.Datadog" version="1.0.0" targetFramework="net452" />
  <package id="Metrics.NET.Graphite" version="0.5.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="NEST" version="5.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>