<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.1.0" newVersion="106.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Loggly" publicKeyToken="aea0e3c965ace843" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.55" newVersion="4.6.1.55" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Loggly.Config" publicKeyToken="aea0e3c965ace843" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.55" newVersion="4.6.1.55" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>